body {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}

.bodybox {
    margin: 0 auto;
}
.formula {
    text-align: center;
}
img {
    width:100%;
    max-height:100%;
    height: auto;
}
